<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="menu">
      <a href="/" data-push="true" data-target="#contents" id="home_button" class="element">
        <div class="symbol">Home</div>
      </a>
      <a href="/contact" data-push="true" data-target="#contents" id="contact_button" class="element">
        <div class="symbol">Contact</div>
      </a>
    </div>

    <div id="contents"><%= yield %></div>

    <div id="container"></div>
  </body>
</html>
